@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P';
  font-size: 13px;
}

/*html {
  padding: 15px;
  height: 100%;
}*/

body {
  padding: 15px;
  /*margin: 0;
  overflow: hidden;
  height: 100%;*/
}

.button {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-right: 35px;
  border-radius: 0;
}

#name {
  /*width: fit-content;
  height: fit-content;*/
  margin: 0 auto;
  text-align: center;
  transform: translateY(10px);
  font-size: 30px;
  color: rgb(132, 194, 194);
}

#slider-container {
  text-align: center;
  transform: translateY(35px);
}

#grid-slider {
  width: 200px;
  height: 20px;
  margin: 0 auto;
  transform: translateY(10px);
  border: 1px solid black;
}

#grid-container {
  margin: 0 0; 
  border: 2px solid black;
  width: 550px;
  height: 550px;
  transform: translateX(335px);
}

#color-buttons {
  transform: translateY(-540px);
  width: fit-content;
  height: fit-content;
}

#randomize {
  transform: translateY(359px);
  overflow: hidden;
}

.color-button {
  width: 50px;
  height: 50px;
  border: 0.3px solid black;
  text-align: center;
  padding: 15px;
  margin: 2px;
}

#buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
}

#bg-color {
  width:fit-content;
  height: fit-content;
  transform: translate(950px, -750px)
}

#show-grid {
  transform: translate(950px, -730px)
}

#clear-grid {
  transform: translate(765px, -620px)
}